h1 {
    text-align: center;
    color: coral;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    font-family: Algerian;
    font-size: 70px;
}
h2 {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    font-family: Bebas Neue;
    font-size: 60px;
}
article {
    border-top: 5px double blue;
    font-family: Barlow Condensed;
    font-size: 25px;
    color:brown;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
}
a {
    font-family: Bebas Neue;
}